In [1]:
#first we need to import some important libraries
import pandas as pd
import datetime as dt

In [3]:
#Imported the dataset
Netflix=pd.read_csv(r"C:\Users\Sapana pal\Downloads\archive (1)\netflix_titles.csv")
Netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [5]:
#we need to find data discrepancies and clean them

#find duplicates----duplicates not found
duplicates=Netflix.duplicated()
print(duplicates.sum())
print(Netflix[Netflix.duplicated()])

0
Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [7]:
#find nulls
Netflix.isnull().any()

print(Netflix[Netflix.isnull()])

     show_id type title director cast country date_added  release_year rating  \
0        NaN  NaN   NaN      NaN  NaN     NaN        NaN           NaN    NaN
1        NaN  NaN   NaN      NaN  NaN     NaN        NaN           NaN    NaN
2        NaN  NaN   NaN      NaN  NaN     NaN        NaN           NaN    NaN
3        NaN  NaN   NaN      NaN  NaN     NaN        NaN           NaN    NaN
4        NaN  NaN   NaN      NaN  NaN     NaN        NaN           NaN    NaN
...      ...  ...   ...      ...  ...     ...        ...           ...    ...
8802     NaN  NaN   NaN      NaN  NaN     NaN        NaN           NaN    NaN
8803     NaN  NaN   NaN      NaN  NaN     NaN        NaN           NaN    NaN
8804     NaN  NaN   NaN      NaN  NaN     NaN        NaN           NaN    NaN
8805     NaN  NaN   NaN      NaN  NaN     NaN        NaN           NaN    NaN
8806     NaN  NaN   NaN      NaN  NaN     NaN        NaN           NaN    NaN

     duration listed_in description
0         NaN       NaN         NaN
1         NaN       NaN         NaN
2         NaN       NaN         NaN
3         NaN       NaN         NaN
4         NaN       NaN         NaN
...       ...       ...         ...
8802      NaN       NaN         NaN
8803      NaN       NaN         NaN
8804      NaN       NaN         NaN
8805      NaN       NaN         NaN
8806      NaN       NaN         NaN

[8807 rows x 12 columns]

In [9]:
Netflix.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [11]:
Netflix.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [13]:
#Here i handled missing values by replacing them with 'Unknown'
#we can fill country with most frequent country using(mode)
#also we can fill rating with most frequent rating with mode
Netflix['director'] = Netflix['director'].fillna('Unknown')
Netflix['cast'] = Netflix['cast'].fillna('Unknown')
Netflix['country'] = Netflix['country'].fillna('Unknown')
Netflix['date_added'] = Netflix['date_added'].fillna('Not Available')
Netflix['rating'] = Netflix['rating'].fillna(Netflix['rating'].mode()[0])
Netflix['duration'] = Netflix['duration'].fillna('Unknown')

In [15]:
#make sure all missing values gone
Netflix.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [19]:
#Standardize text values
Netflix.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [21]:
#standardize text values
Netflix['type']=Netflix['type'].str.strip().str.capitalize()
Netflix['title']=Netflix['title'].str.strip().str.capitalize()
Netflix['director']=Netflix['director'].str.strip().str.capitalize()
Netflix['cast']=Netflix['cast'].str.strip().str.capitalize()
Netflix['country']=Netflix['country'].str.strip().str.capitalize()
Netflix['listed_in']=Netflix['listed_in'].str.strip().str.capitalize()
Netflix['description']=Netflix['description'].str.strip().str.capitalize()

In [31]:
#check date format
Netflix['date_added'].unique()

In [25]:
#converts date formats to a consistent type and datetime format also
Netflix['date_added']=pd.to_datetime(Netflix['date_added'],errors='coerce')

In [27]:
#check
Netflix['date_added']

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8802   2019-11-20
8803   2019-07-01
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 8807, dtype: datetime64[ns]

In [33]:
#Rename column headers to be clean and uniform(lowercase,no spaces)

#--here i have not found any unclean/inconsistent column
Netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [35]:
#check dtypes and fix them with correct dtypes(date as datetime,country as object)
#duration should be numeric format
Netflix.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added      datetime64[ns]
release_year             int64
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [37]:
Netflix['duration']  #here i have found mixed formats['90 min', '1 Season', '2 Seasons', unknown, '45 min']

0          90 min
1       2 Seasons
2        1 Season
3        1 Season
4       2 Seasons
          ...
8802      158 min
8803    2 Seasons
8804       88 min
8805       88 min
8806      111 min
Name: duration, Length: 8807, dtype: object

In [39]:
#so we can extract minuts and convert them into float
# For Movies: extract minutes
Netflix['duration_minutes'] = Netflix[Netflix['type'] == 'Movie']['duration'].str.extract(r'(\d+)').astype('float')

# For TV Shows: extract seasons
Netflix['duration_seasons'] = Netflix[Netflix['type'] == 'TV Show']['duration'].str.extract(r'(\d+)').astype('float')

In [41]:
Netflix.dtypes #yeah it converted

show_id                     object
type                        object
title                       object
director                    object
cast                        object
country                     object
date_added          datetime64[ns]
release_year                 int64
rating                      object
duration                    object
listed_in                   object
description                 object
duration_minutes           float64
duration_seasons           float64
dtype: object

**Done